#about {
  padding: 40px 0;
  color: #333;
}

.about-col-1 img {
  margin-left: 2rem;
}

.service-title{
  padding-left: 10rem;
}

.work-title {
  padding-left: 15rem;
}

#testimonials{
  min-height: 60vh;
}

.contact-title{
  font-size: 40px;
}

